# --- LISTA MESTRA GERALJÁ ---
streamlit
streamlit-js-eval==0.1.7
streamlit-google-auth
firebase-admin
google-cloud-firestore
gspread
google-auth-oauthlib
groq
google-generativeai
nltk
fuzzywuzzy
python-Levenshtein
gTTS
pandas
plotly
Pillow
pytz
requests
beautifulsoup4
feedparser



